name: Build iOS (Karing unsigned)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-ios-unsigned:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Flutter pub get
        run: flutter pub get

      - name: Build unsigned iOS IPA
        run: flutter build ipa --no-codesign

      - name: Upload IPA artifact
        uses: actions/upload-artifact@v4
        with:
          name: karing-ios-unsigned-ipa
          path: build/ios/ipa/*.ipa
